.data/**/*
platform-infra/docker-compose.bck
platform-infra/data/crimes.csv
platform-infra/data/mapa.png
platform-infra/data/death-causes.csv
platform-infra/data/SeriesCompendiosDelitos_2007-2024.xlsx
platform-infra/data/okupations.csv
platform-infra/configs/airflow/.env
platform-infra/docker-compose.bck2
configs/spark/spark-defaults.conf/spark-defaults.conf.template
platform-infra/configs/airflow/dags/__pycache__/bbva_download_landing.cpython-311.pyc
platform-infra/configs/airflow/dags/__pycache__/bbva_ingest_reports.cpython-311.pyc
platform-infra/configs/airflow/dags/__pycache__/bbva_pdf_to_silver_dag.cpython-311.pyc
platform-infra/configs/airflow/dags/bbva_pdf_to_silver_dag.py
platform-infra/configs/airflow/dags/bbva_pdf_pipeline.py
platform-infra/configs/airflow/dags/bbva_ingest_reports.py
platform-infra/configs/airflow/dags/bbva_download_landing.py
**/notebooks/*
platform-infra/configs/airflow/dags/__pycache__/bbva_pdf_pipeline.cpython-311.pyc
platform-infra/dockerfile.jupyterlab
platform-infra/dockerfile.jupyterlab
platform-infra/configs/notebooks/BBVA/movimientos_bbva/__pycache__/*.*
platform-infra/configs/superset/.bash_history
platform-infra/configs/superset/superset.db
**/.ipynb_checkpoints/*
**/.Trash-0/*
platform-infra/configs/airflow/dags/__pycache__/bbva_pdf_pipeline.cpython-311.pyc
platform-infra/.env
**/notebook_outputs/*
platform-infra/configs/airflow/dags/*
**/__pycache__/*
platform-infra/configs/dagster/app/recibos_hipoteca.csv
platform-infra/configs/airflow/dags/financials_personal_bbva.py
platform-infra/configs/dagster/app/definitions.py
