.data/**/*
platform-infra/docker-compose.bck
platform-infra/configs/jupyter/notebooks/.ipynb_checkpoints/test-checkpoint.ipynb
platform-infra/configs/airflow/dags/__pycache__/hello_lakehouse.cpython-311.pyc
platform-infra/configs/jupyter/notebooks/BBVA-PDF.ipynb
platform-infra/configs/jupyter/notebooks/Download_INE_data.ipynb
platform-infra/configs/jupyter/notebooks/enero2016.pdf
platform-infra/configs/jupyter/notebooks/octubre2014.pdf
platform-infra/configs/jupyter/notebooks/process-pdf.ipynb
platform-infra/configs/jupyter/notebooks/test.ipynb
platform-infra/configs/jupyter/notebooks/token.json
platform-infra/configs/jupyter/notebooks/.ipynb_checkpoints/BBVA-PDF-checkpoint.ipynb
platform-infra/configs/jupyter/notebooks/.ipynb_checkpoints/Download_INE_data-checkpoint.ipynb
platform-infra/configs/jupyter/notebooks/.ipynb_checkpoints/enero2016-checkpoint.pdf
platform-infra/configs/jupyter/notebooks/.ipynb_checkpoints/octubre2014-checkpoint.pdf
platform-infra/configs/jupyter/notebooks/.ipynb_checkpoints/process-pdf-checkpoint.ipynb
platform-infra/configs/jupyter/notebooks/artifacts/enero2016.card.csv
platform-infra/configs/jupyter/notebooks/artifacts/enero2016.account.csv
platform-infra/configs/jupyter/notebooks/artifacts/enero2016.extraction.json
platform-infra/configs/jupyter/notebooks/artifacts/.ipynb_checkpoints/enero2016.account-checkpoint.csv
platform-infra/configs/jupyter/notebooks/artifacts/.ipynb_checkpoints/enero2016.card-checkpoint.csv
platform-infra/data/crimes.csv
platform-infra/data/mapa.png
platform-infra/data/death-causes.csv
platform-infra/data/SeriesCompendiosDelitos_2007-2024.xlsx
platform-infra/data/okupations.csv
